<div class="card-container">

  <h2>Errors</h2>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
  <hr>

  <h2>Status</h2>
  <ul>
    <li *ngFor="let status of statuses">{{status}}</li>
  </ul>

  <hr>

  <h4>Query</h4>

  <button md-raised-button color="primary" (click)="getSpeakers();">Get Speakers</button>

  <ul>
    <li *ngFor="let speaker of speakers">{{speaker}}</li>
  </ul>

  <button md-raised-button color="primary" (click)="getCoreTeam();">Get team</button>

  <ul>
    <li *ngFor="let member of members">{{member}}</li>
  </ul>

  <button md-raised-button color="primary" (click)="invokeFailingMethod();">Invoke failing method </button>
  <br/>
  <br/>
  <button md-raised-button color="primary" (click)="simulateSlowConnection();">Simulate slow connection </button>
  <br/>
  <br/>
  <button md-raised-button color="primary" (click)="stop();">stop</button>
  <br/>
  <br/>
  <button md-raised-button color="primary" (click)="start();">start</button>
  <br/>
  <br/>

  <label>message:</label><input type="text" [(ngModel)]="message">
  <button md-raised-button color="primary" (click)="chat();">chat</button>

  <br/>
  <br/>
  <button md-raised-button color="primary" (click)="listenForMessageSentEvent();">listen for OnMessageSent event</button>
  <ul>
    <li *ngFor="let msg of chatMessages">{{ msg.user }} -- {{ msg.content }}</li>
  </ul>
  <hr>
  <ul>
    <li *ngFor="let msg of chatMessagesWithStatus">{{ msg[0].user }} -- {{ msg[0].content }} -- {{ msg[1].name }} </li>
  </ul>
</div>
